[submodule "thirdparty/portaudio"]
	path = thirdparty/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "thirdparty/libhv"]
	path = thirdparty/libhv
	url = https://github.com/ithewei/libhv.git
